*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 40%;
    box-shadow: 10px 10px 10px 20px grey;

    
}

.quotes-box{
     

    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#quotes{
     
    margin: 1rem;
    font-family: cursive;
    
}

#author{
    
    color: aqua;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btn{
    width: 100px;
    height: 35px;
    border-radius: 6px;
     margin-left: 250px;
}